body {
  background-color: rgb(244, 248, 249);
  font-family: helvetica;
}

.tweet-box {
  background-color: rgb(255, 255, 255);
  width: 800px;
  height: 280px;
  border: 2px solid rgb(225, 232, 237);
  border-radius: 10px;
  position: relative;
  margin: auto;
  top: 200px;
}

.tweet-header {
  background-color: rgb(255, 255, 255);
  width: 90%;
  height: auto;
  font-size: 20px;
  float: left;
  position: relative;
  left: 40px;
  top: 20px;
}

.tweet-body {
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 50px;
  position: relative;
  left: 40px;
  top: 40px;
  font-size: 25px;
  float: left;
}

.body-message {
  color: inherit;
}

.body-details {
  color: rgb(105, 120, 130);
}

.tweet-footer {
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 50px;
  position: relative;
  left: 40px;
  top: 60px;
  float: left;
  font-size: 25px;
}

.clear {
  clear: both;
  height: 20px;
  width: auto;
}

.image-user {
  float: left;
  position: relative;
  top: 20px;
}

.user {
  float: left;
  position: relative;
  left: 40px;
  top: 20px;
  font-size: 30px;
}

.button {
  background-color: rgb(255, 255, 255);
  width: 150px;
  height: 50px;
  border: 2px solid rgb(85, 172, 238);
  border-radius: 5px;
  float: right;
  position: relative;
  top: 20px;
  right: 0px;
}

.button-logo {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

.button-text {
  color: rgb(85, 172, 238);
  font-weight: bold;
  position: relative;
  left: 20px;
  bottom: 5px;
}

.reply {
  float: left;
  padding-right: 40px;
}

.retweet {
  float: left;
  padding-right: 40px;
  color: rgb(105, 120, 130);
}

.favorite {
  float: left;
  color: rgb(105, 120, 130);
}

.user-name {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.nickname {
  color: rgb(104, 109, 129);
  padding-left: -10px;
}

.pre-user-name {
  float: left;
}

.validated-name {
  float: left;
  padding-left: 10px;
}

.name {
  float: left;
  padding-left: 10px;
}

.body-details {
  padding-top: 10px;
}
